{% extends 'blog/base.html' %}

{% block content %}
{% for post in posts %}
    <article>
        <time>published: {{ post.published_date }}</time>
        <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
        <p>{{ post.text|linebreaksbr }}</p>
        <form action =""method ="post">
<lable\>Name</lable><input type="text" name="fname">
<br/>
<lable\>Subject</lable><input type="text" name="fname">
<br/>
<lable\>gender</lable><input type="radio" name="gender"><lable\>Male</lable><input type="radio" name="gender"><lable\>Female</lable>
<br/>
<lable\>Rating</lable><input type="radio" name="rating"><lable\>Excellent</lable><input type="radio" name="rating"><lable\>Good</lable><input type="radio" name="rating"><lable\>Average</lable>
<br/>
<input type = "submit" value ="Save"/>
<input type ="reset"/>
</form>
    </article>
{% endfor %}
{% endblock %}
