h1{

color: #C25100;
background-color: yellow;
border-width: 2px;
border-style: dotted;
border-color: red;
text-align: center;
}
h2{
color: red;
text-shadow:2px 2px 10px pink;
text-decoration-line: underline;
text-decoration-color: yellow;
text-decoration-style: dotted;
}